h1{
  color: rgba(129, 125, 146, 1);
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  margin-top: 64px;
}
.passwordBox{
  background-color: rgba(36, 35, 44, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}
.passwordBox p{
  color: rgba(230, 229, 234, 0.25);
  padding: 16px;
  background-color: #24232C;
  border: 0;
  font-size: 24px;
  width: auto;
  font-family: JetBrains Mono;
}
.copy{
  display: flex;
}
.copy p{
  margin: 0;
  padding: 0;
  width: auto;
  align-self: center;
  color: rgba(164, 255, 175, 1);
  font-size: 18px;
}
.copyIcon{
scale: 0.9;
padding: 16px;
cursor: pointer;
}
.copyIcon:hover path{
  fill: rgba(255, 255, 255, 1);
}
.mainBox{
  display: flex;
  flex-direction: column;
  background-color: rgba(36, 35, 44, 1);
  margin: 16px;
  margin-bottom: 63px;
}
.inputDiv{
  width: 100%;
  padding: 16px;
}
.firstSection{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.charLength{
  color: rgba(230, 229, 234, 1);
  font-size: 16px;
}
.number{
  color: rgba(164, 255, 175, 1);
  font-size: 24px;
}
input[type="range"] {
  -webkit-appearance: none;
  height: 8px;
  background-color: rgba(24, 23, 31, 1);
  width: 100%;
  margin-top: 13px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
}
input[type=range]:hover::-webkit-slider-thumb {
  background-color: rgba(24, 23, 31, 1);
  border: 2px solid rgba(164, 255, 175, 1);
}
.checkBoxes{
  padding: 16px;
}
.checkBox{
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}
.cube{
  width: 20px;
  height: 20px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.checkBox p{
  margin-left: 20px;
  color: white;
  font-size: 16px;
  line-height: 21px;
  
}
.secondSection{
  margin-top: 32px;
  background-color: rgba(24, 23, 31, 1);
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.secondSection p{
  padding: 17px;
  font-size: 16px;
  color: rgba(129, 125, 146, 1);
}
.lvlDiv{
  display: flex;
  flex-direction: row;
}
.lvlDiv p{
  color: rgba(230, 229, 234, 1);
  padding: 16px;
}
.rec{
  width: 10px;
  height: 28px;
  border: 1px solid white;
}
.rectangels{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-self: center;
  margin-right: 10px;
}
button{
  background-color: rgba(164, 255, 175, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 16px;
  border: 0;

}
button p{
  color: rgba(36, 35, 44, 1);
  font-size: 16px;
  font-style: JetBrains Mono;
  font-weight: 700;
  margin-top: 18px;
  margin-bottom: 17px;
  
}
button svg{
  margin-left: 16px;
}
button:hover{
  background-color: rgba(36, 35, 44, 1);
  border: 2px solid rgba(164, 255, 175, 1);
}
button:hover p{
  color: rgba(164, 255, 175, 1);
}
button:hover svg path {
  fill: rgba(164, 255, 175, 1);
}
@media screen and (min-width: 768px){
h1{
  margin-top: 133px;
  font-size: 24px;
  margin-bottom: 31px;
}
.passwordBox{
  margin-left: 114px;
  margin-right: 114px;
}
.passwordBox p{
  padding-left: 32px;
}
.copyIcon{
  padding-right: 28px;
}
.mainBox{
  margin-left: 114px;
  margin-right: 114px;
  margin-bottom: 198px;
}
.inputDiv{
  width: 100%;
  padding: 32px;
}
.checkBoxes{
  padding: 32px;
}
.lvlDiv p{
  font-size: 24px;
}
.secondSection{
  margin:32px;
  margin-top: 0;
  justify-content: space-around;
}
.secondSection p{
  padding-left: -17px;
}
.lvlDiv{
  display: flex;
  flex-direction: row;
  margin-left: 80px;
}
button{
  Height:65px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 0;
  cursor: pointer;
  justify-content: center;
}


}
@media screen and (min-width: 1440px){
  h1{
    margin-top: 133px;
    font-size: 24px;
    margin-bottom: 31px;
  }
  .passwordBox{
    margin-left: 450px;
    margin-right: 450px;
  }
  .passwordBox p{
    padding-left: 32px;
  }
  .copyIcon{
    padding-right: 28px;
  }
  .mainBox{
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 196px;
  }
  .inputDiv{
    width: 100%;
    padding: 32px;
  }
  .checkBoxes{
    padding: 32px;
  }
  .secondSection{
    margin:32px;
    margin-top: 0;
  }
  button{
    Height:65px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 0;
  }
}