h1{
  color: rgba(129, 125, 146, 1);
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  margin-top: 64px;
}
.passwordBox{
  background-color: rgba(36, 35, 44, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}
.textInput{
  color: rgba(230, 229, 234, 0.25);
  padding: 16px;
  background-color: #24232C;
  border: 0;
  font-size: 24px;
  width: 144px;
  font-family: JetBrains Mono;
}
.textInput:focus{
  border: 0;
  outline: none;
}
.copyIcon{
scale: 0.9;
padding: 16px;
}
.mainBox{
  display: flex;
  flex-direction: column;
  background-color: rgba(36, 35, 44, 1);
  margin: 16px;
}
.inputDiv{
  width: 100%;
  padding: 16px;
}
.firstSection{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.charLength{
  color: rgba(230, 229, 234, 1);
  font-size: 16px;
}
.number{
  color: rgba(164, 255, 175, 1);
  font-size: 24px;
}
input[type="range"] {
  -webkit-appearance: none;
  height: 8px;
  background-color: rgba(24, 23, 31, 1);
  width: 100%;
  margin-top: 13px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
}
.checkBoxes{
  padding: 16px;
}
.checkBox{
  display: flex;
  flex-direction: row;
  padding-top: 16px;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: rgba(36, 35, 44, 1);
  border: 2px solid #ccc;
  outline: none;
  transition: background-color 0.2s;
}

input[type="checkbox"]:checked {
  background-color: rgba(164, 255, 175, 1)
}
.checkBox p{
  margin-left: 20px;
  color: white;
  font-size: 16px;
  line-height: 21px;
  
}
